/* default styles to all elements of the web page */
*{
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
    box-sizing: border-box;
}

/* applying smooth scrolling behavior for the web page */
html{
    scroll-behavior: smooth;   
}

/* applying styles to the body element */
body{
    background: #080808;    /* background color */
    color: #fff;    /* text color */
}



/* ---------- header section -------- */

/* styling background of header section */

#header{
    width: 100%;    /* 100% of the container */
    height: 100vh;      /* 100% of the viewport height */
    background-image: url(images/my_pic_1.png);     /* background image */
    background-size: cover;     /* scale the background image to cover the container */
    background-position: center;    /* position the background image at the center */
}

/* apply padding to the elements in header section */
.container{
    padding: 25px 8%;
}

/* applying styles to the <nav> element */
nav {
    display: flex;  /* use flex layout */
    align-items: center;    /* align items vertically in the center */
    justify-content: space-between;     /* distribute items evenly along the horizontal axis */
    flex-wrap: wrap;    /* allow items to wrap onto multiple lines if needed */
}

/* applying width to logo image */
.logo {
    width: 250px;   /* set the width to 200 pixels */
}

/* applying styles to portfolio sections */
nav ul li {
    display: inline-block;  /* display the list items horizontally */
    list-style: none;   /* remove the default list bullet */
    margin: 10px 25px;   /* apply margin to top and bottom (10px) and left and right (20px) */
}

/* portfolio sections */
nav ul li a {
    color: #fff;    /* set text color to white */
    text-decoration: none;      /* remove underline from links */
    font-size: 20px;    /* set font size to 18 pixels */
    font-weight: 550;   /* thickness of font */
    position: relative;     /* establish positioning context for pseudo-elements */
}

/* portfolio section links by default */
nav ul li a::after {
    content: '';    /* create the pseudo-element content (no actual content) */
    width: 0;   /* start with no visible width */
    height: 3px;    /* set the height of the underline */
    background: #ff004f;    /* set the color of the underline */
    position: absolute;     /* position the underline absolutely */
    left: 0;    /* position the underline at the left edge of the link */
    bottom: -6px;   /* position the underline slightly below the link */
    transition: 0.5s;   /* transition effect with a duration of 0.5 seconds */
}

/* portfolio section links when hovered */
nav ul li a:hover::after {
    width: 100%;    /* expand the width of the underline to 100% when hovered */
}

/* title */
.header-text {
    margin-top: 20%; /* Set top margin to 20% of the container's height */
    font-size: 30px; /* Set font size to 30 pixels */
}

/* name */
.header-text h1 {
    font-size: 60px; /* Set font size to 60 pixels */
    margin-top: 20px; /* Set top margin to 20 pixels */
}

/* stying first name */
.header-text h1 span {
    color: #ff004f;     /* set text color */
}



/* ----------- about section ---------- */

/* applying styles to the element inside about section */
#about {
    padding: 80px 0;    /* apply padding of 80 pixels at the top and bottom */
    color: #ababab;         /* set text color */
}

/* apply flex layout to elements with class "row" */
.row {
    display: flex;      /* Uue flex layout for the container */
    justify-content: space-between;     /* distribute items with space between them */
    flex-wrap: wrap;    /* allow items to wrap to the next line if needed */
}

/* column-1 styling */
.about-col-1 {
    flex-basis: 35%;    /* set the initial flex basis to 35% of the container width */
}

/* column-1 image */
.about-col-1 img {
    width: 100%; /*     Mmke the image width 100% of its container */
    border-radius: 25px;    /* apply a border-radius to round the corners of the image */
}

/* "about me" subtitle */
.sub-title {
    font-size: 50px;    /* set the font size to 50 pixels */
    font-weight: 550;   /* set the font weight to 550 (medium) */
    color: #fff;    /* set the text color */
}

/* column-2 text */
.about-col-2 {
    flex-basis: 60%;    /* set the initial flex basis to 60% of the container width */
    font-size: 18px;    /* set the font size to 18 pixels */
    color: #fff;    /* set the text color */ 
}

/* tabs styling */
.tab-titles {
    display: flex;  /* use flex layout for the container */
    margin: 80px 0 40px;    /* set margins: top=80px, right=0, bottom=40px, left=0 */
    color: #9ebed0;  /* set the text color to a shade of blue */
}

/* tab links styling */
.tab-links {
    margin-right: 50px;     /* add right margin of 50px */
    font-size: 20px;    /* set the font size to 20 pixels */
    font-weight: 550;   /* set the font weight to 550 (medium to bold) */
    cursor: pointer;    /* change the cursor to a pointer on hover, indicating interactivity */
    position: relative;     /* set the positioning context to relative for positioning children */
}

/* tab links by default */
.tab-links::after {
    content: '';    /* insert empty content for the pseudo-element */
    font-weight: 600;   /* set font weight to 600 (medium bold) for potential styling purposes */
    width: 0;   /* set initial width of the pseudo-element to 0 */
    height: 3px;    /* set the height of the pseudo-element's underline to 3 pixels */
    background: #ff004f;    /* set the background color of the underline to a shade of red (#ff004f) */
    position: absolute;     /* position the pseudo-element absolutely within the tab link */
    left: 0;    /* align the pseudo-element's left edge with the left edge of the tab link */
    bottom: -8px;   /* position the pseudo-element 8 pixels above the bottom of the tab link */
    transition: 0.5s;   /* apply a smooth transition effect over 0.5 seconds */
}

/* tab links when hovered */
.tab-links.active-link::after{
    width: 100%; /* set the width of the pseudo-element's underline to 100% */
}

/* experience list item styling */
.tab-contents ul li {
    list-style: none;   /* remove default list bullets */
    font-weight: 500;   /* set font weight for the list item */
    margin: 10px 0;     /* set margin around the list item */
}

/* styling for the experience date span */
.tab-contents ul li span {
    color: #b54769;     /* set text color for the date span */
    font-size: 20px;    /* set font size for the date span */
}

/* styling for the experience description paragraph */
.tab-contents ul li p {
    display: block;     /* display the paragraph as a block element */
    padding-left: 25px;     /* add left padding for indentation */
    position: relative;     /* create positioning context for the ::before pseudo-element */
    color: #bdd5de;     /* set text color for the description paragraph */
    font-size: 16px;    /* set font size for the description paragraph */
}

/* styling for the bullet point */
.tab-contents ul li p::before {
    content: '\2023';   /* use bullet character as content */
    padding-left: 10px; 
    position: absolute;     /* position the bullet point absolutely */
    left: 0;    /* position the bullet at the left edge */
    color: #f7a5a5;    /* set the color of the bullet point */
}


/* style for images in skills tab */
.tab-contents img {
    width: 15%;     /* set the width of the images to 15% of their container's width */
    border-radius: 15px;    /* apply rounded corners to the images */
}

/* hide tab contents by default */
.tab-contents {
    display: none;  /* initially hide tab contents */
}

/* show active tab contents */
.tab-contents.active-tab {
    display: block;     /* display tab contents when the corresponding tab is active */
}



/* ----------project section --------*/


/* add padding to the projects section */
#projects {
    padding: 5px 0;
}

/* overall project items */
.work-list {
    display: grid;  /* use grid layout for the project items */
    grid-template-columns: repeat(3, 1fr);    /* automatic grid columns with minimum width 250px */
    grid-gap: 40px;     /* gap between grid items */
    margin-top: 50px;   /* margin at the top of the project list */
}

/* each project item */
.work {
    border-radius: 20px;    /* add rounded corners to the project item */
    position: relative;     /* create positioning context for child elements */
    overflow: hidden;   /* hide overflowing content within the project item */
}

/* project images */
.work img {
    width: 160%;    /* set the width of the image */
    border-radius: 10px;    /* add rounded corners to the image */
    display: block;     /* make the image a block element */
    transition: transform 0.5s;    /* apply smooth transition to image scaling */
}

/* overlay text layer over image */
.layer {
    width: 100%;
    height: 0%;    /* initially hide the overlay layer */
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);    /* gradient background */
    border-radius: 10px;    /* add rounded corners to the layer */
    position: absolute;    /* absolute positioning within the container */
    left: 0;
    bottom: 0;
    overflow: hidden;    /* hide overflowing content */
    display: flex;    /* use flex display for content alignment */
    align-items: center;
    justify-content: center;
    flex-direction: column;    /* stack content vertically */
    padding: 0 40px;    /* padding inside the layer */
    text-align: center;
    font-size: 14px;    /* font size for layer content */
    transition: height 0.5s;    /* apply smooth transition to layer height */
}

/* Style for the project title and description within the layer */
.layer h3 {
    font-weight: 500;    /* Set font weight for the project title */
    margin-bottom: 20px;    /* Margin at the bottom of the title */
}

/* link within the layer */
.layer a {
    margin-top: 20px;
    color: #ff004f;    /* set link color */
    text-decoration: none;    /* remove underline from link */
    font-size: 18px;    /* set font size for link */
    line-height: 60px;    /* set line height for vertical alignment */
    background: #fff;    /* background color for link */
    width: 60px;    /* set width for link container */
    height: 60px;    /* set height for link container */
    border-radius: 50%;    /* create circular link container */
    text-align: center;    /* center link content horizontally */
}

/* hover effect for project images */
.work:hover img {
    transform: scale(1.1);    /* enlarge the image on hover */
}

/* hover effect for project title and description within the layer */
.work:hover .layer {
    height: 100%;    /* expand the layer height on hover */
}

/* see more button by default */
.btn{
    display: block;
    background-color: #ff004f;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
    cursor: pointer
}

/* see more button on hover */
.btn:hover{
    background: #c0013d;
}



/*---------------contact-------------*/
#contact{
    padding: 40px 0;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.btn.btn2{
    margin: 40px 40px;
}

.btn.btn3{
    margin: 5px 5%;
}

.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}

.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}


/* hide menu and cross bar from large screen */
nav .fas{
    display: none;
}



/*------------- CSS for small screen -----------*/
@media only screen and (max-width: 900px){

    /*------------- header section -----------*/ 

    /* background image */
    #header{
        background-image: url(images/my_pic_1.png);     /* background image */
    }

    /* title */
    .header-text {
        margin-top: 80%; /* Set top margin to 20% of the container's height */
        font-size: 16px; /* Set font size to 30 pixels */
    }

    /* name */
    .header-text h1 {
        font-size: 30px; /* Set font size to 60 pixels */
    }

    /* display cross and menu icon */
    nav .fas{
        display: block;
        font-size: 25px;
    }

    /* menu bar */
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 180px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    /* menu bar links */ 
    nav ul li{
        display: block;
        margin: 25px;
    }

    /* position of cross mark */
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    /*------------- about section -----------*/

    /* subtitle size */
    .sub-title{
        font-size: 40px;
    }

    /* about me image */
    .about-col-1{
        flex-basis: 100%; 
    }
    
    /* about me col2 */ 
    .about-col-2{
        flex-basis: 100%;
    }

    .about-col-1{
        margin-bottom: 30px;
        margin-top: -50px;;
    }

    .about-col-1{
        font-size: 14px;
    }

    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }

    /* overall project items */
    .work-list {
        display: grid;  /* use grid layout for the project items */
        grid-template-columns: repeat(1, 1fr);    /* automatic grid columns with minimum width 250px */
        grid-gap: 40px;     /* gap between grid items */
        margin-top: 50px;   /* margin at the top of the project list */
    }

    .layer {
        display: inline-table;
        height: 100%;
        font-size: medium;
        padding-top: 50%;
        background: linear-gradient(rgba(0, 0, 0, 0.01), #ff004f); 
    }

    .layer a {
        padding: 5px;
    }
    /*------------- contact section -----------*/
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
}


#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}